<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <%if(message){%>
        <p><%= message %></p>
        <% }%>

        <form method="POST" action="http://localhost:3000/login">
        <input type="email" name="email" placeholder="email"> <br><br>
        <input type="password" name="password" placeholder="password"> <br><br>
        <input type="submit" value="submit">
        </form>
</body>
</html>